* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    width: 100%;
}

body {
    background-color: darkslategray;
  
    
}

.index {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 80vh;
   
    
}


.index>h1,
p,
h2,
a {
    margin: 10px;
    color: white; 
    
}

.oppsett{
    height: 70vh;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(5, 80px);
    grid-template-rows: repeat(6, 80px);
    align-content: center;
    justify-content: center;
}

.oppsett > div{
    border: 2px solid white;
    margin: 5px;
}
h1{
    text-align: center;
    color: white;
    margin-top: 80px;

}